
*.ide-shm
*.ide-shm
*.ide-shm
*.ide-wal
*.cache
*.cache
*.lref
*.lock
#.lock may work, it may not#
*.cs
*.cs
Chat_App_Application/.vs/Chat_App_Application/v15/Server/sqlite3/
Chat_App_Application/obj/Debug/
Chat_App_Application/.vs/Chat_App_Application/v15/
